@model Nop.Plugin.Widgets.MyCustomPlugin.Models.PublicInfoModel
@{
    Layout = "";
    Html.AddCssFileParts("~/Plugins/Widgets.MyCustomPlugin/Content/css/custom.css");

}

<div class="Plugin-wrapper topic-block">
    <div id="My-Custom-Plugin" class="topic-block-title">
        @if (Model.UseSandbox)
        {
            <h2 class="marquee">
                <span> @Model.Message</span>
            </h2>
        }
    </div>
</div> 